# BAX 422 Data Design and Representation
## Final Project   Web Scrape Indeed
### Group 23
**Ruizhi Ma / Stella Zhang / Jason Yao / Minke Wang**

In [480]:
import requests # request accesing pages
import time  # package for pausing code
import numpy as np # generate random times for pauses between requests 
import re # to cleanup some data points - searches count-
import os
import pymysql
import warnings
import json
import shutil
import math
from bs4 import BeautifulSoup # to scrape html code from pages
from timeit import default_timer as timer
import datetime
from tqdm import tqdm
from time import gmtime, strftime
import pandas as pd # to create a data frame
from tqdm import tqdm
##Sql Database packages
import mysql.connector as mysql
from sqlalchemy import create_engine

In [481]:
#ignore warnings
warnings.filterwarnings("ignore")

In [482]:
start_time = strftime("%Y-%m-%d %H:%M:%S", gmtime())
start = time.time()

In [483]:
os.getcwd()

'/Users/orange/Desktop/BAX 422 Data Design & Representation /Final project'

In [484]:
##Input Job Title, Location, Search Radius
keywordsearch=input("Enter Job Title of Interest: ")
location=input("Enter Location of Interest: ")
radius=input("Enter Search Radius: ")
## https://www.indeed.com/jobs?q=Data+Analyst&l=San+Francisco+Bay+Area&radius=100&start=20
url='https://www.indeed.com/jobs?q='+keywordsearch.replace(" ","+")+"&l="+location.replace(" ","+")+"&radius="+radius
user_agent = {'User-agent': 'Mozilla/5.0'}

Enter Job Title of Interest: Data Scientist
Enter Location of Interest: San Francisco Bay Area
Enter Search Radius: 100

In [485]:
response=requests.get(url,headers=user_agent)
soup = BeautifulSoup(response.content, 'lxml', from_encoding="utf-8")
try:
    results_count = soup.find('div', {'id':'searchCountPages' })
    # cleaning up the scraped string
    results_count = re.sub('\D', '', str(results_count))[1::]
    results_count = int(results_count)
except:
    results_count = 'NO'
    failed = failed + 1
print("-------------------------")
print("There are " + str(results_count) +  " jobs for your "+ str(keywordsearch) + " search!")
print("link of this search: " + url)

-------------------------
There are 2177 jobs for your Data Scientist search!
link of this search: https://www.indeed.com/jobs?q=Data+Scientist&l=San+Francisco+Bay+Area&radius=100

## Part1 Scraping Search job pages

In [486]:
p1_start = time.time()
df=pd.DataFrame()
for pgn in range(0,math.ceil(results_count/15),1):
        url1=url+"&start=" + str(10*(pgn-1))
        response=requests.get(url1,headers=user_agent)
        soup=BeautifulSoup(response.content,'lxml')
        for each in soup.find_all(class_= "result"):
            sponsor = each.find(class_='sponsoredGray') 
            if sponsor is None: #ignore any post that is not organic (sponsored)
                try:
                    jobkey = each.get('data-jk')
                except:
                    jobkey = 'None'
                try:
                    date = each.find('span', {'class':'date' }).text.replace('\n', '')
                except:
                    date = 'None'
                try:
                    joblink = each.find(class_= 'turnstileLink').get('href')
                    link = 'https://www.indeed.com' + joblink
                except:
                    link = 'None'
                try: 
                    title = each.find(class_='jobtitle').text.replace('\n', '')
                except:
                    title = 'None'
                try:
                    location = [item.text.strip() for item in each.select('.location')]
                except:
                    location = 'NA'
                try: 
                    company = each.find(class_='company').text.replace('\n', '')
                except:
                    company = 'None'
                try:
                    companyrating = each.find('span', {'class':'ratingsContent'}).text.replace('\n', '')
                except:
                    companyrating = 'None'
                try:
                    salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
                except:
                    salary = 'None'  
                try:
                    summary = each.find('div', {'class':'summary'}).text.replace('\n', '')
                except:
                    summary = 'None'
                try:
                    easy_apply = each.find('span', attrs = {'class': 'iaLabel'}).text
                except:
                    easy_apply = 'NA'
        # Append the scraped datapoints into a record in the Data Frame           

                df = df.append({'JobKey':jobkey,'Title':title, 'Location':location[0], 'Company':company,'CompanyRating':companyrating,
                                'Salary':salary, 'Summary':summary, 'Post_Date':date, 'Link':link,'EasyApply':easy_apply,
                                }, ignore_index=True)
            
p1_duration = time.strftime("%H:%M:%S", time.gmtime(time.time() - p1_start))
print("Duration: " + p1_duration)

Duration: 00:01:23

In [487]:
df.head()

,Company,CompanyRating,EasyApply,JobKey,Link,Location,Post_Date,Salary,Summary,Title
0,Seen by Indeed,None,NA,c11a84699fcc3580,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",30+ days ago,None,With one application you can be considered for...,Data Scientist
1,Triplebyte,None,NA,ba06e2c8194efc5c,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA 94105 (South Beach area)",15 days ago,"$150,000 - $250,000 a year","As a machine learning engineer, you'll be resp...",Machine Learning Engineer
2,HCL America,2.5,Easily apply,27e57a05b516dbb2,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Sunnyvale, CA",30+ days ago,None,"Knowledge of statistics, machine learning, Dee...",Data Scientist
3,Proofpoint,3.9,NA,186d2aa111994946,https://www.indeed.com/rc/clk?jk=186d2aa111994...,"Sunnyvale, CA 94085",8 days ago,None,Oversee creation of data sets for machine lear...,Data Scientist - New College Grad
4,LeanTaaS,None,Easily apply,287e485c9d0dcf0e,https://www.indeed.com/rc/clk?jk=287e485c9d0dc...,"Santa Clara, CA 95050",6 days ago,None,You have strong analytical and problem solving...,Data Scientist (All Levels) - Santa Clara

In [488]:
#Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary
def salary_stripper(dataframe, column):
    dataframe[str(column)] = dataframe[str(column)].replace({'\$':''}, regex = True)
    dataframe[str(column)].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
    dataframe[str(column)] = dataframe[str(column)].str.replace(' ',',')
    dataframe = dataframe.join(dataframe[str(column)].str.split(',,,', 1, expand=True).rename(columns={0:'Salary_Low', 1:'Salary_High'}))
    dataframe['Salary_Low'] = dataframe['Salary_Low'].str.replace(',','')
    dataframe['Salary_Low'] = dataframe['Salary_Low'].apply(pd.to_numeric)
    dataframe['Salary_High'] = dataframe['Salary_High'].str.replace(',','')
    dataframe['Salary_High'] = dataframe['Salary_High'].apply(pd.to_numeric)
    dataframe.drop(str(column), axis=1, inplace=True)
    dataframe['Salary_Average'] = dataframe[['Salary_Low', 'Salary_High']].mean(axis=1)
    return dataframe

In [489]:
df = salary_stripper(df, 'Salary')
df.head()

,Company,CompanyRating,EasyApply,JobKey,Link,Location,Post_Date,Summary,Title,Salary_Low,Salary_High,Salary_Average
0,Seen by Indeed,None,NA,c11a84699fcc3580,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",30+ days ago,With one application you can be considered for...,Data Scientist,NaN,NaN,NaN
1,Triplebyte,None,NA,ba06e2c8194efc5c,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA 94105 (South Beach area)",15 days ago,"As a machine learning engineer, you'll be resp...",Machine Learning Engineer,150000.0,250000.0,200000.0
2,HCL America,2.5,Easily apply,27e57a05b516dbb2,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Sunnyvale, CA",30+ days ago,"Knowledge of statistics, machine learning, Dee...",Data Scientist,NaN,NaN,NaN
3,Proofpoint,3.9,NA,186d2aa111994946,https://www.indeed.com/rc/clk?jk=186d2aa111994...,"Sunnyvale, CA 94085",8 days ago,Oversee creation of data sets for machine lear...,Data Scientist - New College Grad,NaN,NaN,NaN
4,LeanTaaS,None,Easily apply,287e485c9d0dcf0e,https://www.indeed.com/rc/clk?jk=287e485c9d0dc...,"Santa Clara, CA 95050",6 days ago,You have strong analytical and problem solving...,Data Scientist (All Levels) - Santa Clara,NaN,NaN,NaN

## Part 2 Scarpe the body of Job Posts.

In [490]:
df1 = df.copy()

p2_start = time.time()

target_body = df1.shape[0]

for i in range(0, target_body,1):
    job_url = df1.Link.iloc[i]
    response_job = requests.get(job_url, headers = user_agent)
    soup_job = BeautifulSoup(response_job.content, 'lxml', from_encoding="utf-8")
    soup_text=soup_job.get_text()
    time.sleep(2)
    #download 
    try:
        jd = soup_job.find('div', {'class':'jobsearch-jobDescriptionText'}).text.replace('\n','')
    except:
        jd = 'None' 
    
    df1.loc[i,'JobDetail']=jd

p2_duration = time.strftime("%H:%M:%S", time.gmtime(time.time() - p2_start))
print("Duration: " + p2_duration)

Duration: 00:16:36

In [496]:
df1.head()

,Company,CompanyRating,EasyApply,JobKey,Link,Location,Post_Date,Summary,Title,Salary_Low,Salary_High,Salary_Average,JobDetail
0,Seen by Indeed,None,NA,c11a84699fcc3580,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",30+ days ago,With one application you can be considered for...,Data Scientist,NaN,NaN,NaN,With one application you can be considered for...
1,Triplebyte,None,NA,ba06e2c8194efc5c,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA 94105 (South Beach area)",15 days ago,"As a machine learning engineer, you'll be resp...",Machine Learning Engineer,150000.0,250000.0,200000.0,About TriplebyteTriplebyte is transforming the...
2,HCL America,2.5,Easily apply,27e57a05b516dbb2,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Sunnyvale, CA",30+ days ago,"Knowledge of statistics, machine learning, Dee...",Data Scientist,NaN,NaN,NaN,We are looking for a Data Scientistto be part ...
3,Proofpoint,3.9,NA,186d2aa111994946,https://www.indeed.com/rc/clk?jk=186d2aa111994...,"Sunnyvale, CA 94085",8 days ago,Oversee creation of data sets for machine lear...,Data Scientist - New College Grad,NaN,NaN,NaN,It's fun to work in a company where people tru...
4,LeanTaaS,None,Easily apply,287e485c9d0dcf0e,https://www.indeed.com/rc/clk?jk=287e485c9d0dc...,"Santa Clara, CA 95050",6 days ago,You have strong analytical and problem solving...,Data Scientist (All Levels) - Santa Clara,NaN,NaN,NaN,Help build technology that saves lives!LeanTaa...

## Part 3 Text mining the body of job posts

In [497]:
keywords = pd.read_csv('keywords.csv')
# Defining a function to transform the desired keywords from a dataframe into a dictionary
def dataframeToDict(df):
    ncol = df.columns
    skilldict = {}
    for c in ncol:
        cvalues = df[c].values
        skilldict[c] = cvalues[~pd.isnull(cvalues)]
    return skilldict
keywords = dataframeToDict(keywords)

In [498]:
df_final = df1.copy()

columns = []
dictionary_count = len(keywords.keys())
#creating columns for keywords
for x in range(0, dictionary_count, 1):
    
    for y in range(1, len(keywords.get(list(keywords)[x])), 1):
        keyword = keywords.get(list(keywords)[x])[y]
        columns.append(keyword)

df_text = pd.DataFrame(columns = columns, index=df_final.index)
df_exp = pd.DataFrame(columns= ['Experience_Min', 'Experience_Max'])

keyword_count = len(list(df_text.columns.values))

In [499]:
p3_start = time.time()
##find years of experience in the job description
for row in range(0, df_final.shape[0], 1):
    try:
        idx = df_final.JobDetail[row].find('years')
        experience = df_final.JobDetail[row][idx-10:idx+5]
        exp = re.sub('\D', '', experience)
        if len(exp) > 4 or exp == "":
            expmin = None
            expmax = None
        else:
            if len(exp) == 4:
                expmin = exp[0:2]
                expmax = exp[2:4]
            if len(exp) == 3:
                expmin = exp[0]
                expmax = exp[1:3]
            if len(exp) == 2:
                if exp[1] > exp[0]:
                    expmin = exp[0]
                    expmax = exp[1]
                else:
                    expmin = exp
                    expmax = None
                
            if len(exp) == 1:
                expmin = exp
                expmax = None
            
            if int(expmin) > 20:
                expmin = None
                expmax = None
            if expmax is not None and (int(expmax) > 20 or int(expmax) <= int(expmin)):
                expmin = None
                expmax = None
    except:
        expmin = None
        expmax = None

    df_exp = df_exp.append({'Experience_Min': expmin, 'Experience_Max' : expmax}, ignore_index=True)

#Keywords    
    for key in range(0, keyword_count, 1):
        word = str(list(df_text.columns.values)[key])
        idx = df_final.JobDetail[row].find(word)

        if word in df_final.JobDetail.iloc[row] or (len(word) != 2 and word.lower() in df_final.JobDetail.iloc[row]) :
            if df_final.JobDetail.iloc[row][idx-1] is not "H":
                df_text.iloc[row,key] = 1            
        else:
            df_text.iloc[row,key] = 0 
df_final = pd.merge(df_final, df_exp, left_index=True, right_index=True)               
df_final = pd.merge(df_final, df_text, left_index=True, right_index=True)

p3_duration = time.strftime("%H:%M:%S", time.gmtime(time.time() - p3_start))

df2 = df_final
print("Duration: " + p3_duration)

Duration: 00:01:47

In [501]:
#Final dataframe for the job title of Business Analyst
# df2.columns = [col.replace(' ', '_') for col in df2.columns]
# df_Business_Analyst = df2.rename(columns = {'_R_': 'R'})
#df_Business_Analyst.head()

,Company,CompanyRating,EasyApply,JobKey,Link,Location,Post_Date,Summary,Title,Salary_Low,...,Communication,Java,Hadoop,Python,R,SAS,SPARK,SQL,MATLAB,Tableau
0,Innovato,None,Easily apply,1044001cd2e9a453,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA 94111 (Financial District area)",30+ days ago,Applied experience in agile development method...,IT Business Analyst,NaN,...,0,0,0,0,0,0,0,0,0,0
1,"Western Climate Initiative, Inc.",None,Easily apply,b4e40f2ee212e574,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Sacramento, CA (Downtown area)",30+ days ago,Assist the Project Managers during the Plannin...,IT Business Analyst,NaN,...,1,0,0,0,0,0,0,0,0,0
2,TopCon America,3.6,NA,3986a61564c03344,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Livermore, CA 94550",5 days ago,Topcon Positioning Group is headquartered in L...,Senior Business Analyst,NaN,...,1,0,0,0,0,0,0,0,0,0
3,spirits work,None,Easily apply,f562e63b925f759b,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Jose, CA",6 days ago,Quickly understand the business issues and dat...,Business Analyst,60000.0,...,1,0,0,0,0,0,0,1,0,0
4,Oak Valley Hospital,2.5,Easily apply,923263ee89f7f217,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Oakdale, CA",30+ days ago,_The Meditech Business Analyst will be part of...,MediTech Business Analyst,NaN,...,1,0,0,0,0,0,0,0,0,0

In [500]:
#Final dataframe for the job title of Data Scientist
df2.columns = [col.replace(' ', '_') for col in df2.columns]
df_Data_Scientist = df2.rename(columns = {'_R_': 'R'})
df_Data_Scientist.head()

,Company,CompanyRating,EasyApply,JobKey,Link,Location,Post_Date,Summary,Title,Salary_Low,...,Communication,Java,Hadoop,Python,R,SAS,SPARK,SQL,MATLAB,Tableau
0,Seen by Indeed,None,NA,c11a84699fcc3580,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA",30+ days ago,With one application you can be considered for...,Data Scientist,NaN,...,0,0,0,0,0,0,0,0,0,0
1,Triplebyte,None,NA,ba06e2c8194efc5c,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"San Francisco, CA 94105 (South Beach area)",15 days ago,"As a machine learning engineer, you'll be resp...",Machine Learning Engineer,150000.0,...,0,0,0,0,0,0,0,0,0,0
2,HCL America,2.5,Easily apply,27e57a05b516dbb2,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,"Sunnyvale, CA",30+ days ago,"Knowledge of statistics, machine learning, Dee...",Data Scientist,NaN,...,0,0,1,1,0,0,0,0,0,0
3,Proofpoint,3.9,NA,186d2aa111994946,https://www.indeed.com/rc/clk?jk=186d2aa111994...,"Sunnyvale, CA 94085",8 days ago,Oversee creation of data sets for machine lear...,Data Scientist - New College Grad,NaN,...,1,0,0,1,0,0,0,0,0,0
4,LeanTaaS,None,Easily apply,287e485c9d0dcf0e,https://www.indeed.com/rc/clk?jk=287e485c9d0dc...,"Santa Clara, CA 95050",6 days ago,You have strong analytical and problem solving...,Data Scientist (All Levels) - Santa Clara,NaN,...,0,0,0,1,0,0,0,1,0,0

### Part 4 Data to SQL database

In [502]:
#create database
def create_database(db,username,password):
    try:
        conn = mysql.connect(host='localhost',user=username,password=password)
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE IF NOT EXISTS {}".format(db))
    except mysql.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

In [503]:
#create indeed database for the first time
database_name='Indeed'
username='root'
password='Ma1994910ww!'
create_database(database_name,username,password)

In [505]:
#input data from dataframe into database
engine = create_engine('mysql+pymysql://root:Ma1994910ww%21@localhost/Indeed')
df_Business_Analyst.to_sql('Indeed_Jobs', engine,if_exists='append',index=False)
df_Data_Scientist.to_sql('Indeed_Jobs', engine,if_exists='append',index=False)

In [540]:
def key_skill(username,password):
    try:
        conn = mysql.connect(host='localhost',user=username,password=password,database = 'Indeed')
        cursor = conn.cursor()
        query = "SELECT avg(Python) as Python, avg(R) as R, avg(Java) as Java, avg(Tableau) as Tableau, avg(Indeed_Jobs.SQL) as sql_ FROM Indeed_Jobs"
        cursor.execute(query)
        records = cursor.fetchall()
        result_df = pd.DataFrame(columns = ['Python','R','Java','Tableau','SQL'])
        for i in range(len(records)):
            result_df.loc[i] = records[i]
        return result_df
    except mysql.Error as err:
        print("Failed to calculate: {}".format(err))
        exit(1)

In [541]:
key_skill(username,password)

   Python       R    Java Tableau     SQL
0  0.4259  0.0496  0.1304  0.1572  0.3447